#userCard {
  text-align: center;
  flex-direction: column;
}

.update-input {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.user {
  font-size: larger;
}
